<%- include('header') -%>
  <h1> Crear canción </h1>
  <form action="/canciones/crear" method="POST">
    <div>
      <label for="">Título</label>
      <input type="text" name="titulo">
    </div>
    <div>
      <label for="">Duración</label>
      <input type="number" name="duracion">
    </div>
    <div>
      <label for="">Creación</label>
      <input type="date" name="created_at">
    </div>
    <div>
      <label for="">Actualización</label>
      <input type="date" name="updated_at">
    </div>
    <div>
      <label for="">Genero</label>
      <select name="genero">
        <% for (let i = 0; i < generos.length; i++){%>
          <option value="<%=generos.[i].id%>">
            <%=generos[I].name%>
          </option>
        <% } %>
      </select>
    </div>
    ><button type="submit">Crear!</button>
  </form>
<%- include('footer') -%>























<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Listado de Canciones </h1>
    <ul>
      <% for (let i = 0 ; i < canciones.length; i++) {%> 
        <li>
          <a href="/canciones/<%=canciones[i].titulo%>"></a><% canciones[i].titulo %> 
        </li>
    </ul>
  </body>
</html>
